.container {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 18rem));
  grid-template-rows: repeat(auto-fit, minmax(1.5rem, 1.5rem));
  grid-gap: 1.5rem;
  align-items: start;
  justify-content: center;
  padding: 8rem 3rem;
  padding-bottom: 10rem;

  &__header {
    position: fixed;
    left: 0;
    top: 0;
    min-height: 2rem;
    width: 100%;
    z-index: 5000;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #302B63, #0F0C29);
    padding: 1rem; 
    
    &__name {
      color: rgba(214, 48, 49,1.0);
      margin: 0 3rem;
      font-size: 3rem;
      font-weight: 700;      
    }

    &__inputfield {
      width: 60%;
      height: 3.5rem;

      &--input {
        width: 100%;
        height: 100%;
        border-radius: 3rem;
        padding: 2rem;
        outline: none;
        border: none;
        background-color: rgba(236, 240, 241,.7);
        font-size: 1.5rem;
        font-weight: 700;
        color: #000000; 
        transition: all .2s ease-in;

        &:focus {
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          background-color: rgba(236, 240, 241,.9);
          border-bottom: 1.5px solid rgba(214, 48, 49,1.0);
        }
        
        &::-webkit-input-placeholder {
          color: rgba(45, 52, 54,.8);
          font-weight: 700;
        }
      }
    }
  }

  &__loading {
    grid-column: 1 / -1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & span {
      width: 2rem;
      height: 2rem;
      margin: .5rem;
      border-radius: 50%;
      backface-visibility: hidden;
    }

    & span:nth-child(1) {
      transition: all 1s ease-in-out;
      animation: upandDown 1s linear 1s infinite;
      background: rgba(214, 48, 49,1.0);
      display: inline-block;
    }

    & span:nth-child(2) {
      transition: all 1.5s ease-in-out;
      animation: upandDown 1.5s linear 1.5s infinite;
      background: #4834d4;
    }

    & span:nth-child(3) {
      transition: all 2s ease-in-out;
      animation: upandDown 2s linear 2s infinite;
      background: #FC427B;
    }

    & span:nth-child(4) {
      transition: all 2.5s ease-in-out;
      animation: upandDown 2.5s linear 2.5s infinite;
      background: #B33771;
    }
  }

  &__board {
    grid-column: 1 / 5;
    height: 50rem;
    grid-row: span 32;
    position: relative;
    border-radius: 3rem 0 3rem 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;

    &--overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 10;
      opacity: .3;
      cursor: pointer;
    }

    & figure {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;  
    }

    &__genres {
      position: relative;
      width: 100%;
      text-align: center;
      z-index: 20;
      font-size: 1.3rem;
      font-weight: 700;

      @media only screen and (max-width: 64em) {
        font-size: 2.3rem;
      }

      &--h3 {
        font-size: 2rem;
        text-align: center;
        position: relative;
        z-index: 20;
        box-shadow: 0 1rem 2rem 2rem rgba(0, 0, 0, 0.4);
        background: #000000;
        padding: 0 3rem;
        margin-bottom: 1rem;
        border-radius: .3rem 3rem;

        @media only screen and (max-width: 64em) {
          font-size: 2.5rem;
        }
      }

      &--h3-name {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: .3rem 0 3rem;
        padding: 1rem 3rem;
      }

      & span {
        display: inline-block;
        margin: .5rem;
        padding: .3rem 1rem;
        background: #d63031;
        border-radius: 3rem;
        box-shadow: 0 1rem 2rem 2rem rgba(0, 0, 0, 0.4);
      }
    }

    &--btn {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 1.3rem 3rem;
      background: #000000;
      z-index: 20;
      border-radius: 3rem .3rem;
      font-size: 1.1rem;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
      cursor: pointer;
      box-shadow: 0 1rem 2rem 2rem rgba(0, 0, 0, 0.4);  
      
      @media only screen and (max-width: 64em) {
        font-size: 2rem;
      }
    }
  }

  &__recommended__header {
    display: flex;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    color: #fff;

    &--h1 {
      font-weight: 900;
      font-size: 2rem;
    }

    &--para {
      opacity: .5;
      font-weight: 700;
      font-size: 1.5rem;
    }
  }

  &__mobile {
    display: flex;
    margin: 1rem auto;
    width: 100vw;
    height: 98vh;
    overflow: hidden;
  }
}