.mobilesongcard {
  position: relative;
  flex-basis: 100%;
  flex-shrink: 0;
  height: 100%;
  overflow: hidden;
  transition: all .1s ease-in;

  &__content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: .3;
    cursor: pointer;
  }

  & figure {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;    
  }

  &__controls {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;

    &--svg {
      fill: #fff;
      height: 20rem;
      width: 20rem;
    }

    &--details {
      position: absolute;
      bottom: 0;
      left: 0;
      color: #fff;
      padding: 4rem;
      font-weight: 900;

      & h3 {
        font-size: 3rem;
        color: #d63031;
        padding: .5rem;
        background: #000000;
        border-radius: .3rem 3rem;
      }

      & p {
        font-size: 2rem;
        padding: .5rem 1rem;
      }
    }
  }
}