.playerbar {
  position: fixed;
  bottom: 0;
  left: 0;
  min-height: 7rem;
  width: 100%;
  background: linear-gradient(to right, #2c2c54, #130F1D);
  z-index: 3000;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  color: #fff;
  padding: 1rem 2.1rem;

  &--meta {
    height: 5rem;
    display: flex;
    width: 26%;
    overflow: hidden;
  }

  &--figure {
    height: 100%;
    width: 5rem;
    border-radius: .2rem;
    margin-right: 1.5rem;
  }

  &--details {
    line-height: 18px;
    padding: .7rem 0;
  }

  &--para-1 {
    font-size: 1.7rem;
  }

  &--para-2 {
    opacity: .5;
  }

  &--progress {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12rem;
  }

  &--progressbar-parent {
    position: relative;
    padding: 1rem 0;
    width: 34rem;
    margin: 0 1.2rem;
    cursor: pointer;
    background: red;
  }

  &--progressbar-handle {
    position: absolute;
    top: 24%;
    left: 0;
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;

    &:hover {
      background: rgba(214, 48, 49,1.0);
    }
  }

  &--progressbar {
    width: 100%;
    height: .1rem;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }

  &--progressbargrowth {

  }

  &--progressnumbers {
    opacity: .7;
  }

  &--controls-playpausebackground {
    position: relative;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    background: linear-gradient(to right, #302B63, #0F0C29);
  }

  &--controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 28rem;
    margin-right: 22rem;

    &-svg {
      height: 2rem;
      width: 2rem;
      fill: rgba(255, 255, 255, 0.7);
      cursor: pointer;

      &:hover {
        fill: rgba(214, 48, 49,1.0);
      }
    }

    &-svgplaypause {
      position: absolute;
      top: 0;
      left: 0;
      height: 4rem;
      width: 4rem;
      fill: rgba(255, 255, 255, 0.7);
      cursor: pointer;
    }

    &-svg-colored {
      fill: rgba(214, 48, 49,1.0);
    }
  }

  &--volume {
    display: flex;
    align-items: center;

    &-handle {
      position: absolute;
      top: 24%;
      left: 0;
      height: 1.1rem;
      width: 1.1rem;
      border-radius: 50%;
      background: #fff;
      cursor: pointer;

      &:hover {
        background: rgba(214, 48, 49,1.0);
      }
    }

    &-progress-parent {
      position: relative;
      width: 13rem;
      margin: 0 1.2rem;
      padding: 1rem 0;
      cursor: pointer;
    }

    &-progress {
      width: 100%;
      height: .1rem;
      background: rgba(255, 255, 255, 0.5);
      cursor: pointer;
    }

    &-progressgrowth {

    }

    &-svg {
      width: 2rem;
      height: 2rem;
      fill: rgba(255, 255, 255, 0.7);
      cursor: pointer;
    }
  }
}