.songcard {
  position: relative;
  flex-basis: 17rem;
  height: 16rem;
  margin: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  cursor: pointer;

  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    z-index: 1000;
  }

  &--fig {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
  }

  &--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}