@keyframes growShrink {
  0% {
      height: 4.5rem;
  }

  50% {
      height: 3.5rem;
  }

  100% {
    height: 4.5rem;
  }
}

@keyframes growShrink2 {
  0% {
      height: 2rem;
  }

  50% {
      height: 3rem;
  }

  100% {
    height: 2rem;
  }
}

@keyframes moveInBottom {
  0% {
    transform: translateY(6rem)
  }

  100% {
    transform: translateY(0)
  }
}

@keyframes upandDown {
  0% {
    transform: translateY(-.5rem)
  }

  50% {
    transform: translateY(-.2rem)
  }
  
  100% {
    transform: translateY(0) 
  }
}